[commit]
  template = ~/.gitmessage
[include]
  path = ~/.gitconfig.local
[user]
  email = aaronramsey2000@gmail.com
	name = Aaron Ramsey
[core]
	pager = batcat
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[safe]
	directory = *

