[commit]
  template = ~/.gitmessage
[include]
  path = ~/.gitconfig.local
[core]
	pager = batcat
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[safe]
	directory = *
[include]
	path = ~/.gitme
