[submodule "nvim/.config/nvim/lua/user"]
	path = nvim/.config/nvim/lua/user
	url = git@github.com:A-Ramsey/AstroNvim.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:A-Ramsey/AstroNvim_v5.git
